@font-face {
  font-family: "montserratregular";
  src: url("fonts/montserrat-regular-webfont.woff2") format("woff2"), url("fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "slick";
  src: url("slick/fonts/slick.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratmedium";
  src: url("fonts/montserrat-medium-webfont.woff2") format("woff2"), url("fonts/montserrat-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(-7deg, #21c7d1 0%, #0587a3 100%);
  height: 3000px;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.slider {
  width: 50%;
  margin: 100px auto;
  display: flex !important;
  align-items: center !important;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: lightblue;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}

.slick-active {
  opacity: 0.5;
}

.slick-current {
  opacity: 1;
}

.invisible {
  animation-name: invisible;
  animation-duration: 0.5s;
  opacity: 0;
}

.not {
  display: none;
}

.white {
  background-color: white;
}

.standard {
  max-width: 1180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.standard .logo {
  margin-right: 100px;
  height: 50px;
  align-items: center;
}
.standard .logo:hover {
  cursor: pointer;
}
.standard nav {
  display: flex;
  padding: 0;
}
.standard nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-family: "montserratmedium";
  font-weight: 500;
  margin-left: 30px;
  font-size: 16px;
}
.standard nav a:hover {
  border-radius: 5px;
  background-color: white;
  color: #21c7d2;
}
.standard .solutions {
  display: flex;
  align-items: center;
  padding: 0;
}
.standard .solutions a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-family: "montserratmedium";
  font-weight: 500;
  margin-left: 10px;
  font-size: 16px;
}
.standard .solutions .rectangle {
  width: 179px;
  height: 40px;
  border-radius: 5px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.standard .solutions .rectangle .download-app {
  color: #21c7d2;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
}
.standard .solutions .lang {
  font-weight: 500;
  font-size: 12px;
}

.fix {
  max-width: 1180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 80px;
  align-items: center;
}
.fix .logo {
  margin-right: 100px;
  height: 50px;
}
.fix .logo:hover {
  cursor: pointer;
}
.fix nav {
  display: flex;
  padding: 0;
}
.fix nav a {
  color: black;
  text-decoration: none;
  padding: 10px;
  font-family: "montserratmedium";
  font-weight: 500;
  margin-left: 30px;
  font-size: 16px;
}
.fix nav a:hover {
  border-radius: 5px;
  background-color: #21c7d2;
  color: white;
}
.fix .solutions {
  display: flex;
  align-items: center;
  padding: 0;
}
.fix .solutions a {
  color: #21c7d2;
  text-decoration: none;
  padding: 10px;
  font-family: "montserratmedium";
  font-weight: 500;
  margin-left: 10px;
  font-size: 16px;
}
.fix .solutions .rectangle {
  width: 179px;
  height: 40px;
  border-radius: 5px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.fix .solutions .rectangle .download-app {
  color: #21c7d2;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
}
.fix .solutions .lang {
  font-weight: 500;
  font-size: 12px;
}

@keyframes invisible {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
@keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
header {
  margin: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#title {
  max-width: 740px;
  margin: auto;
}
#title h1 {
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
  font-family: "montserratregular";
  font-weight: 400;
}
#title h5 {
  text-align: center;
  font-size: 26px;
  line-height: 60px;
  color: #ffffff;
  font-family: "montserratregular";
  font-weight: 300;
}
#title .btn {
  display: flex;
  justify-content: center;
}
#title .btn .first {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 239px;
  height: 50px;
  border-radius: 5px;
  filter: drop-shadow(-1.627px -3.654px 8px rgba(0, 0, 0, 0.16));
  background-color: #21c7d2;
}
#title .btn .first div {
  font-size: 12px;
  line-height: 46px;
  color: #ffffff;
  font-family: "montserratmedium";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
#title .btn .second {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
}
#title .btn .second div {
  font-size: 12px;
  line-height: 46px;
  color: #21c7d2;
  font-family: "montserratmedium";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
#title .btn .second div img {
  padding-left: 10px;
}

.phone {
  position: sticky;
  top: 0;
  padding-top: 60px;
}
.phone .image {
  display: flex;
  justify-content: center;
  position: relative;
}
.phone .image .phone-image {
  width: auto;
  position: absolute;
}
.phone .image .slide-content {
  width: auto;
  position: absolute;
  top: 42px;
  transform: translateX(-33%);
}
.phone .image .slide-content .rel {
  position: relative;
  width: 258.5px;
  height: 600px;
  overflow: hidden;
}
.phone .image .slide-content .rel .slide-image {
  position: absolute;
  transition: 0.9s ease;
  transform: translateX(0%);
}
.phone .image .slide-content .rel .left {
  transform: translateX(-50%);
  transition: 0.9s ease;
}

.space {
  height: 700px;
}

.partner {
  height: 480px;
  background-color: white;
}
.partner .description {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #eef1f2;
  height: 250px;
}
.partner .description h2 {
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: 40px;
  line-height: 50px;
  color: #2c2c2c;
  font-family: "montserratregular";
  font-weight: 300;
}
.partner .description p {
  font-size: 18px;
  line-height: 28px;
  color: #6e6e6e;
  font-family: "montserratregular";
  font-weight: 300;
  text-align: center;
}

.comin {
  padding-top: 200px;
  height: 1184px;
  background-image: linear-gradient(180deg, #172d45 0%, #4777ad 100%);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}
.comin .cominTitle {
  font-size: 40px;
  line-height: 50px;
  font-family: "montserratregular";
  font-weight: 400;
  margin-bottom: 0;
}
.comin .cominDesc {
  font-size: 20px;
  line-height: 50px;
  font-family: "montserratregular";
  font-weight: 400;
  color: lightgray;
}
.comin .features {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.comin .features .box {
  width: 280px;
}
.comin .features .box .itemIcon {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comin .features .box .itemTitle {
  font-size: 35px;
  line-height: 40px;
  color: #ffffff;
  font-family: "montserratmedium";
  font-weight: 700;
  text-align: center;
  margin: auto;
  padding: 40px 0;
}
.comin .features .box .itemDesc {
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  font-family: "montserratregular";
  font-weight: 400;
  text-align: center;
  max-width: 281px;
}
.comin .test {
  width: 1180px;
  height: 450px;
  transform: translate(0, 150px);
  background-color: white;
  margin: auto;
}
.comin .test .testTitle {
  padding-top: 70px;
  font-size: 30px;
  line-height: 40px;
  color: #2c2c2c;
  font-family: "montserratregular";
  font-weight: 300;
}
.comin .test .recommend {
  font-size: 18px;
  line-height: 26px;
  color: #6e6e6e;
  font-family: "montserratregular";
  font-weight: 300;
  text-align: center;
}
.comin .test .recommend span {
  color: #21c7d2;
}

.product {
  height: 966px;
  background: url(img/bg-products.jpg);
  display: flex;
  flex-direction: column;
  padding-top: 250px;
}
.product h2 {
  font-size: 40px;
  line-height: 50px;
  color: #2c2d2e;
  font-family: "montserratregular";
  font-weight: 400;
  text-align: center;
  padding-bottom: 50px;
}
.product .offers {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.product .offers .offer {
  width: 379px;
  height: 379px;
  background-size: cover;
}
.product .offers .offer .toptext {
  padding-top: 20px;
  text-align: center;
}
.product .offers .offer .toptext h5 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}
.product .offers .offer .toptext h4 {
  font-size: 28px;
  line-height: 29px;
  color: #fff;
  width: 190px;
  margin: auto;
}
.product .offers .offer .toptext .priceholder {
  padding-top: 25px;
}
.product .offers .offer .toptext .priceholder p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.product .offers .offer .toptext .priceholder .number {
  font-size: 50px;
  line-height: 50px;
  color: #fff;
}
.product .offers .offer .toptext .priceholder .year {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  margin-left: -5px;
}
.product .offers .offer:hover {
  cursor: pointer;
}

.claim {
  height: 489px;
  background-color: #006075;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.claim .claimTitle {
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
  font-family: "montserratmedium";
  font-weight: 400;
  text-align: center;
}
.claim .claimDesc {
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  font-family: "montserratregular";
  font-weight: 300;
  text-align: center;
}

footer {
  height: 500px;
  background-image: linear-gradient(0deg, #f1f1f1 0%, #ffffff 100%);
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
footer .leftFooter {
  display: flex;
}
footer .leftFooter .name {
  font-size: 12px;
  line-height: 50px;
  color: #9e9e9e;
  font-family: "montserratmedium";
  font-weight: 500;
  text-transform: uppercase;
}
footer .list ul li {
  font-size: 16px;
  line-height: 40px;
  color: #2c2d2e;
  font-family: "montserratmedium";
  font-weight: 400;
}
footer .list ul li:hover {
  cursor: pointer;
}
footer .name {
  font-size: 12px;
  line-height: 50px;
  color: #9e9e9e;
  font-family: "montserratmedium";
  font-weight: 500;
  text-transform: uppercase;
}
footer .download {
  display: flex;
}
footer .download .downLink {
  padding-right: 30px;
  padding-bottom: 100px;
}
footer .links:hover {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
